com.uber.navigation/wsdl/Navigation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="NavigationService"
                  targetNamespace="http://uber.com/NavigationService"
                  xmlns:ps="http://uber.com/NavigationService"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:types="http://uber.com/DataTypes"
                  xmlns:elements="http://uber.com/Elements"
                  xmlns:messages="http://uber.com/Messages">

    <wsdl:import namespace="http://uber.com/Messages"
                 location="../../com.uber/wsdl/Messages.wsdl"/>

    <wsdl:types>
        <xsd:schema targetNamespace="http://uber.com/Elements">
            <xsd:import namespace="http://uber.com/DataTypes"
                        schemaLocation="../../com.uber/wsdl/DataTypes.xsd"/>
            <xsd:element name="GetDistanceRequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="CurrentLocation"
                                     type="types:Location"/>
                        <xsd:element name="EndLocation" type="types:Location"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetDistanceResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="Distance" type="xsd:double"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="GetDistanceRequestMessage">
        <wsdl:part name="inputParameters"
                   element="elements:GetDistanceRequest"/>
    </wsdl:message>

    <wsdl:message name="GetDistanceResponseMessage">
        <wsdl:part name="outputParameters"
                   element="elements:GetDistanceResponse"/>
    </wsdl:message>

    <wsdl:portType name="NavigationPortType">
        <wsdl:operation name="GetDistance">
            <wsdl:input message="ps:GetDistanceRequestMessage"/>
            <wsdl:output message="ps:GetDistanceResponseMessage"/>
            <wsdl:fault name="InvalidLocation"
                        message="messages:InvalidLocationMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="NavigationSOAPBinding"
                  type="ps:NavigationPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetDistance">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="InvalidLocation">
                <soap:fault name="InvalidLocation"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

</wsdl:definitions>
