SOAProject/resources/FeedbackOrderService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="FeedbackOrderService" targetNamespace="http://order.com/FeedbackService" xmlns:types="http://order.com/DataTypes" xmlns:ps="http://order.com/FeedbackService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:elements="http://order.com/Elements" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://order.com/Elements">
			<xsd:import namespace="http://order.com/DataTypes" schemaLocation="DataTypes.xsd"/>
			<xsd:element name="RatePersonRequest">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="Person" type="types:Person"/>
						<xsd:element name="Rating" type="xsd:double"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="RatePersonRequestMessage">
    <wsdl:part name="inputParameters" element="elements:RatePersonRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="FeedbackPortType">
    <wsdl:operation name="RatePerson">
      <wsdl:input message="ps:RatePersonRequestMessage">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FeedbackSOAPBinding" type="ps:FeedbackPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="RatePerson">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FeedbackOrderService">
    <wsdl:port name="RatePersonPort" binding="ps:FeedbackSOAPBinding">
      <soap:address location="http://localhost:8080/SOAProject/services/FeedbackOrderService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
