SOAProject/resources/InvoicingOrderService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="InvoicingOrderService" targetNamespace="http://order.com/InvoicingService" xmlns:types="http://order.com/DataTypes" xmlns:ps="http://order.com/InvoicingService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:elements="http://order.com/Elements" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://order.com/Elements">
			<xsd:import namespace="http://order.com/DataTypes" schemaLocation="DataTypes.xsd"/>
			<xsd:element name="PayForRideRequest">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="CurrentLocation" type="types:Location"/>
						<xsd:element name="EndLocation" type="types:Location"/>
						<xsd:element name="Price" type="xsd:double"/>
						<xsd:element name="Driver" type="types:Driver"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="PayForRideResponse">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="Status" type="xsd:string"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="PayForRideFault">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="Message" type="xsd:string"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="PaymentFailedMessage">
    <wsdl:part name="fault" element="elements:PayForRideFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PayForRideRequestMessage">
    <wsdl:part name="inputParameters" element="elements:PayForRideRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PayForRideResponseMessage">
    <wsdl:part name="outputParameters" element="elements:PayForRideResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="InvoicingPortType">
    <wsdl:operation name="PayForRide">
      <wsdl:input message="ps:PayForRideRequestMessage">
    </wsdl:input>
      <wsdl:output message="ps:PayForRideResponseMessage">
    </wsdl:output>
      <wsdl:fault name="PaymentFailed" message="ps:PaymentFailedMessage">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InvoicingSOAPBinding" type="ps:InvoicingPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="PayForRide">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="PaymentFailed">
        <soap:fault name="PaymentFailed"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InvoicingOrderService">
    <wsdl:port name="InvoicingPort" binding="ps:InvoicingSOAPBinding">
      <soap:address location="http://localhost:8080/SOAProject/services/InvoicingOrderService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
