SOAProject/resources/NavigationOrderService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="NavigationOrderService" targetNamespace="http://order.com/NavigationService" xmlns:types="http://order.com/DataTypes" xmlns:ps="http://order.com/NavigationService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:elements="http://order.com/Elements" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://order.com/Elements">
			<xsd:import namespace="http://order.com/DataTypes" schemaLocation="DataTypes.xsd"/>
			<xsd:element name="GetDistanceRequest">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="CurrentLocation" type="types:Location"/>
						<xsd:element name="EndLocation" type="types:Location"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetDistanceResponse">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="Distance" type="xsd:double"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetDistanceFault">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="Message" type="xsd:string"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetDistanceRequestMessage">
    <wsdl:part name="inputParameters" element="elements:GetDistanceRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DistanceNotFoundMessage">
    <wsdl:part name="fault" element="elements:GetDistanceFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetDistanceResponseMessage">
    <wsdl:part name="outputParameters" element="elements:GetDistanceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="NavigationPortType">
    <wsdl:operation name="GetDistance">
      <wsdl:input message="ps:GetDistanceRequestMessage">
    </wsdl:input>
      <wsdl:output message="ps:GetDistanceResponseMessage">
    </wsdl:output>
      <wsdl:fault name="DistanceNotFound" message="ps:DistanceNotFoundMessage">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NavigationSOAPBinding" type="ps:NavigationPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetDistance">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DistanceNotFound">
        <soap:fault name="DistanceNotFound"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NavigationOrderService">
    <wsdl:port name="GetDistancePort" binding="ps:NavigationSOAPBinding">
      <soap:address location="http://localhost:8080/SOAProject/services/NavigationOrderService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
