SOAProject/src/wsdl/Feedback.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="FeedbackOrderService"
	targetNamespace="http://order.com/FeedbackService"
	xmlns:ps="http://order.com/FeedbackService"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:types="http://order.com/DataTypes"
	xmlns:elements="http://order.com/Elements">
	
	<wsdl:types>
		<xsd:schema targetNamespace="http://order.com/Elements">
			<xsd:import namespace="http://order.com/DataTypes"
				schemaLocation="DataTypes.xsd" />
			<xsd:element name="RatePersonRequest">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="Person" type="types:Person" />
						<xsd:element name="Rating" type="xsd:double" />
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RatePersonResponse">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="Status" type="xsd:string" />
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RatePersonFault">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="Message" type="xsd:string" />
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="RatePersonRequestMessage">
		<wsdl:part name="inputParameters"
			element="elements:RatePersonRequest" />
	</wsdl:message>

	<wsdl:message name="RatePersonResponseMessage">
		<wsdl:part name="outputParameters"
			element="elements:RatePersonResponse" />
	</wsdl:message>

	<wsdl:message name="PersonNotFoundMessage">
		<wsdl:part name="fault" element="elements:RatePersonFault" />
	</wsdl:message>

	<wsdl:portType name="FeedbackPortType">
		<wsdl:operation name="RatePerson">
			<wsdl:input message="ps:RatePersonRequestMessage" />
			<wsdl:output message="ps:RatePersonResponseMessage" />
			<wsdl:fault name="PersonNotFound"
				message="ps:PersonNotFoundMessage" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="FeedbackSOAPBinding"
		type="ps:FeedbackPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="RatePerson">
			<soap:operation style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="PersonNotFound">
				<soap:fault name="PersonNotFound" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="FeedbackOrderService">
		<wsdl:port name="RatePersonPort"
			binding="ps:FeedbackSOAPBinding">
			<soap:address
				location="http://localhost:8080/SOAProject/services/FeedbackOrderService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
