SOAProject/src/wsdl/Feedback.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="FeedbackOrderService"
	targetNamespace="http://order.com/FeedbackService"
	xmlns:ps="http://order.com/FeedbackService"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:types="http://order.com/DataTypes"
	xmlns:elements="http://order.com/Elements">
	<wsdl:types>
		<xsd:schema targetNamespace="http://order.com/Elements">
			<xsd:import namespace="http://order.com/DataTypes"
				schemaLocation="DataTypes.xsd" />
			<xsd:element name="RateDriverRequest">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="Driver" type="types:Driver" />
						<xsd:element name="Rating" type="xsd:double" />
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RateDriverResponse">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="Status" type="xsd:string" />
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RateDriverFault">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="Message" type="xsd:string" />
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="RateDriverRequestMessage">
		<wsdl:part name="inputParameters"
			element="elements:RateDriverRequest" />
	</wsdl:message>

	<wsdl:message name="RateDriverResponseMessage">
		<wsdl:part name="outputParameters"
			element="elements:RateDriverResponse" />
	</wsdl:message>

	<wsdl:message name="DriverNotFoundMessage">
		<wsdl:part name="fault" element="elements:RateDriverFault" />
	</wsdl:message>

	<wsdl:portType name="FeedbackPortType">
		<wsdl:operation name="RateDriver">
			<wsdl:input message="ps:RateDriverRequestMessage" />
			<wsdl:output message="ps:RateDriverResponseMessage" />
			<wsdl:fault name="DriverNotFound"
				message="ps:DriverNotFoundMessage" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="FeedbackSOAPBinding"
		type="ps:FeedbackPortType">
		<!-- leverage off soapbind:binding synchronous style -->
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="RateDriver">
			<!-- again bind to SOAP -->
			<soap:operation style="document" />
			<!-- further specify that the messages in the wsdl:operation use SOAP -->
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="DriverNotFound">
				<soap:fault name="DriverNotFound" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="FeedbackOrderService">
		<wsdl:port name="RateDriverPort"
			binding="ps:FeedbackSOAPBinding">
			<!-- give the binding a network endpoint address or URI of service -->
			<soap:address
				location="http://localhost:8080/SOAProject/services/FeedbackOrderService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
