SOAProject/src/wsdl/Notifier.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="NotifierOrderService"
	targetNamespace="http://order.com/NotifierService"
	xmlns:ps="http://order.com/NotifierService"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:types="http://order.com/DataTypes"
	xmlns:elements="http://order.com/Elements">
	<wsdl:types>
		<xsd:schema targetNamespace="http://order.com/Elements">
			<xsd:import namespace="http://order.com/DataTypes"
				schemaLocation="DataTypes.xsd" />
			<xsd:element name="FindDriverRequest">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="StartLocation"
							type="types:Location" />
						<xsd:element name="EndLocation" type="types:Location" />
						<xsd:element name="Price" type="xsd:string" />
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FindDriverResponse">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="Driver" type="types:Driver" />
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FindDriverFault">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="Message" type="xsd:string" />
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="FindDriverRequestMessage">
		<wsdl:part name="inputParameters"
			element="elements:FindDriverRequest" />
	</wsdl:message>

	<wsdl:message name="FindDriverResponseMessage">
		<wsdl:part name="outputParameters"
			element="elements:FindDriverResponse" />
	</wsdl:message>

	<wsdl:message name="NoDriverAvailableMessage">
		<wsdl:part name="fault" element="elements:FindDriverFault" />
	</wsdl:message>

	<wsdl:portType name="NotifierPortType">
		<wsdl:operation name="FindDriver">
			<wsdl:input message="ps:FindDriverRequestMessage" />
			<wsdl:output message="ps:FindDriverResponseMessage" />
			<wsdl:fault name="NoDriverAvailable"
				message="ps:NoDriverAvailableMessage" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="NotifierSOAPBinding"
		type="ps:NotifierPortType">
		<!-- leverage off soapbind:binding synchronous style -->
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="FindDriver">
			<!-- again bind to SOAP -->
			<soap:operation style="document" />
			<!-- further specify that the messages in the wsdl:operation use SOAP -->
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="NoDriverAvailable">
				<soap:fault name="NoDriverAvailable" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="NotifierOrderService">
		<wsdl:port name="FindDriverPort"
			binding="ps:NotifierSOAPBinding">
			<!-- give the binding a network endpoint address or URI of service -->
			<soap:address
				location="http://localhost:8080/SOAProject/services/NotifierOrderService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
