SOAProject/src/wsdl/Pricing.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PricingOrderService"
  targetNamespace="http://order.com/PricingService" xmlns:ps="http://order.com/PricingService"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:types="http://order.com/DataTypes"
                  xmlns:elements="http://order.com/Elements">
  <wsdl:types>
    <xsd:schema targetNamespace="http://order.com/Elements">
      <xsd:import namespace="http://order.com/DataTypes"
                  schemaLocation="DataTypes.xsd" />
      <xsd:element name="GetPriceRequest">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="Location" type="types:Location" />
            <xsd:element name="Time" type="xsd:string" />
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetPriceResponse">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="Price" type="xsd:double" />
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetPriceFault">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="Message" type="xsd:string" />
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>


  <wsdl:message name="GetPriceRequestMessage">
    <wsdl:part name="inputParameters" element="elements:GetPriceRequest" />
  </wsdl:message>

  <wsdl:message name="GetPriceResponseMessage">
    <wsdl:part name="outputParameters" element="elements:GetPriceResponse" />
  </wsdl:message>

  <wsdl:message name="PriceNotFoundMessage">
    <wsdl:part name="fault" element="elements:GetPriceFault" />
  </wsdl:message>

  <wsdl:portType name="PricingPortType">
    <wsdl:operation name="GetPrice">
      <wsdl:input message="ps:GetPriceRequestMessage" />
      <wsdl:output message="ps:GetPriceResponseMessage" />
      <wsdl:fault name="PriceNotFound" message="ps:PriceNotFoundMessage"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="PricingSOAPBinding" type="ps:PricingPortType">
    <!-- leverage off soapbind:binding synchronous style -->
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPrice">
      <!-- again bind to SOAP -->
      <soap:operation
        style="document" />
      <!-- further specify that the messages in the wsdl:operation use SOAP -->
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
        <wsdl:fault name="PriceNotFound">
            <soap:fault name="PriceNotFound" />
        </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="PricingOrderService">
    <wsdl:port name="PricingOrderPort" binding="ps:PricingSOAPBinding">
      <!-- give the binding a network endpoint address or URI of service  -->
      <soap:address location="http://localhost:8080/SOAProject/services/PricingOrderService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
