SOAProject/WebContent/WEB-INF/services/PricingOrderService/META-INF/DataTypes.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dt="http://order.com/DataTypes" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://order.com/DataTypes">
    <xsd:element name="FaultMessage" type="xsd:string"/>
    <xsd:complexType name="Person">
        <xsd:sequence>
            <xsd:element name="Id" type="xsd:int"/>
            <xsd:element name="Name" type="xsd:string"/>
            <xsd:element name="Age" type="xsd:int"/>
            <xsd:element name="Rating" type="xsd:double"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Customer">
        <xsd:complexContent>
            <xsd:extension base="dt:Person">
                <xsd:sequence>
                    <xsd:element name="CardNumer" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Driver">
        <xsd:complexContent>
            <xsd:extension base="dt:Person">
                <xsd:sequence>
                    <xsd:element name="CarNumber" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Location">
        <xsd:sequence>
            <xsd:element name="Longitude" type="xsd:double"/>
            <xsd:element name="Lattitude" type="xsd:double"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
