com.uber.invoicing/wsdl/Invoicing.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="InvoicingOrderService"
	targetNamespace="http://uber.com/InvoicingService"
	xmlns:ps="http://uber.com/InvoicingService"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:types="http://uber.com/DataTypes"
	xmlns:elements="http://uber.com/Elements">
	
	<wsdl:types>
		<xsd:schema targetNamespace="http://uber.com/Elements">
			<xsd:import namespace="http://uber.com/DataTypes"
				schemaLocation="../../com.uber/wsdl/DataTypes.xsd" />
			<xsd:element name="PayForRideRequest">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="CurrentLocation"
							type="types:Location" />
						<xsd:element name="EndLocation" type="types:Location" />
						<xsd:element name="Price" type="xsd:double" />
						<xsd:element name="CustomerId" type="xsd:int" />
						<xsd:element name="DriverId" type="xsd:int" />
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="PayForRideRequestMessage">
		<wsdl:part name="inputParameters"
			element="elements:PayForRideRequest" />
	</wsdl:message>

	<wsdl:message name="PayForRideResponseMessage">
		<wsdl:part name="outputParameters"
			element="types:SuccessMessage" />
	</wsdl:message>

	<wsdl:message name="PriceNotFoundMessage">
		<wsdl:part name="fault" element="types:FaultMessage" />
	</wsdl:message>

	<wsdl:message name="InvalidLocationMessage">
		<wsdl:part name="fault" element="types:FaultMessage" />
	</wsdl:message>

	<wsdl:message name="InvalidCustomerMessage">
		<wsdl:part name="fault" element="types:FaultMessage" />
	</wsdl:message>

	<wsdl:message name="InvalidDriverMessage">
		<wsdl:part name="fault" element="types:FaultMessage" />
	</wsdl:message>

	<wsdl:message name="PaymentFailedMessage">
		<wsdl:part name="fault" element="types:FaultMessage" />
	</wsdl:message>

	<wsdl:portType name="InvoicingPortType">
		<wsdl:operation name="PayForRide">
			<wsdl:input message="ps:PayForRideRequestMessage" />
			<wsdl:output message="ps:PayForRideResponseMessage" />
			<wsdl:fault name="PriceNotFound"
				message="ps:PriceNotFoundMessage" />
			<wsdl:fault name="InvalidLocation"
				message="ps:InvalidLocationMessage" />
			<wsdl:fault name="InvalidCustomer"
				message="ps:InvalidCustomerMessage" />
			<wsdl:fault name="InvalidDriver"
				message="ps:InvalidDriverMessage" />
			<wsdl:fault name="PaymentFailed"
				message="ps:PaymentFailedMessage" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="InvoicingSOAPBinding"
		type="ps:InvoicingPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="PayForRide">
			<soap:operation style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="PriceNotFound">
				<soap:fault name="PriceNotFound" />
			</wsdl:fault>
			<wsdl:fault name="InvalidLocation">
				<soap:fault name="InvalidLocation" />
			</wsdl:fault>
			<wsdl:fault name="InvalidCustomer">
				<soap:fault name="InvalidCustomer" />
			</wsdl:fault>
			<wsdl:fault name="InvalidDriver">
				<soap:fault name="InvalidDriver" />
			</wsdl:fault>
			<wsdl:fault name="PaymentFailed">
				<soap:fault name="PaymentFailed" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>
