com.uber.notifier/wsdl/Notifier.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="NotifierOrderService"
	targetNamespace="http://uber.com/NotifierService"
	xmlns:ps="http://uber.com/NotifierService"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:types="http://uber.com/DataTypes"
	xmlns:elements="http://uber.com/Elements">
	
	<wsdl:types>
		<xsd:schema targetNamespace="http://uber.com/Elements">
			<xsd:import namespace="http://uber.com/DataTypes"
				schemaLocation="../../com.uber/wsdl/DataTypes.xsd" />
			<xsd:element name="FindDriverRequest">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="StartLocation"
							type="types:Location" />
						<xsd:element name="EndLocation" type="types:Location" />
						<xsd:element name="Price" type="xsd:double" />
						<xsd:element name="CustomerId" type="xsd:int" />
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="FindDriverRequestMessage">
		<wsdl:part name="inputParameters"
			element="elements:FindDriverRequest" />
	</wsdl:message>

	<wsdl:message name="FindDriverResponseMessage">
		<wsdl:part name="outputParameters"
			element="types:SuccessMessage" />
	</wsdl:message>

	<wsdl:message name="InvalidLocationMessage">
		<wsdl:part name="fault" element="types:FaultMessage" />
	</wsdl:message>

	<wsdl:message name="InvalidPriceMessage">
		<wsdl:part name="fault" element="types:FaultMessage" />
	</wsdl:message>

	<wsdl:message name="InvalidCustomerMessage">
		<wsdl:part name="fault" element="types:FaultMessage" />
	</wsdl:message>

	<wsdl:portType name="NotifierPortType">
		<wsdl:operation name="FindDriver">
			<wsdl:input message="ps:FindDriverRequestMessage" />
			<wsdl:output message="ps:FindDriverResponseMessage" />
			<wsdl:fault name="InvalidLocation"
				message="ps:InvalidLocationMessage" />
			<wsdl:fault name="InvalidPrice"
						message="ps:InvalidPriceMessage" />
			<wsdl:fault name="InvalidCustomer"
						message="ps:InvalidCustomerMessage" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="NotifierSOAPBinding"
		type="ps:NotifierPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="FindDriver">
			<soap:operation style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="InvalidLocation">
				<soap:fault name="InvalidLocation" />
			</wsdl:fault>
			<wsdl:fault name="InvalidPrice">
				<soap:fault name="InvalidPrice" />
			</wsdl:fault>
			<wsdl:fault name="InvalidCustomer">
				<soap:fault name="InvalidCustomer" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

</wsdl:definitions>
