com.uber.pricing/wsdl/Pricing.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PricingService"
                  targetNamespace="http://uber.com/PricingService"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ps="http://uber.com/PricingService"
                  xmlns:types="http://uber.com/DataTypes"
                  xmlns:elements="http://uber.com/Elements"
                  xmlns:messages="http://uber.com/Messages">

    <wsdl:import namespace="http://uber.com/Messages"
                 location="../../com.uber/wsdl/Messages.wsdl"/>

    <wsdl:types>
        <xsd:schema targetNamespace="http://uber.com/Elements">
            <xsd:import namespace="http://uber.com/DataTypes"
                        schemaLocation="../../com.uber/wsdl/DataTypes.xsd"/>
            <xsd:element name="GetPriceRequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="Location" type="types:Location"/>
                        <xsd:element name="Time" type="xsd:dateTime"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetPriceResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="Price" type="xsd:double"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>


    <wsdl:message name="GetPriceRequestMessage">
        <wsdl:part name="inputParameters"
                   element="elements:GetPriceRequest"/>
    </wsdl:message>

    <wsdl:message name="GetPriceResponseMessage">
        <wsdl:part name="outputParameters"
                   element="elements:GetPriceResponse"/>
    </wsdl:message>

    <wsdl:message name="PriceNotFoundMessage">
        <wsdl:part name="fault" element="types:FaultMessage"/>
    </wsdl:message>

    <wsdl:portType name="PricingPortType">
        <wsdl:operation name="GetPrice">
            <wsdl:input message="ps:GetPriceRequestMessage"/>
            <wsdl:output message="ps:GetPriceResponseMessage"/>
            <wsdl:fault name="PriceNotFound"
                        message="ps:PriceNotFoundMessage"/>
            <wsdl:fault name="InvalidLocation"
                        message="messages:InvalidLocationMessage"/>
            <wsdl:fault name="InvalidTime"
                        message="messages:InvalidTimeMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="PricingSOAPBinding"
                  type="ps:PricingPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetPrice">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="PriceNotFound">
                <soap:fault name="PriceNotFound"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidLocation">
                <soap:fault name="InvalidLocation"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidTime">
                <soap:fault name="InvalidTime"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="PricingService">
        <wsdl:port name="PricingPort"
                   binding="ps:PricingSOAPBinding">
            <soap:address
                    location="http://localhost:9080/com.uber.pricing/services/PricingService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
