com.uber.feedback/wsdl/Feedback.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="FeedbackService"
                  targetNamespace="http://uber.com/FeedbackService"
                  xmlns:ps="http://uber.com/FeedbackService"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:elements="http://uber.com/Elements">

    <wsdl:import namespace="http://uber.com/Messages"
                 location="../../com.uber/wsdl/Messages.wsdl"/>

    <wsdl:types>
        <xsd:schema targetNamespace="http://uber.com/Elements">
            <xsd:import namespace="http://uber.com/DataTypes"
                        schemaLocation="../../com.uber/wsdl/DataTypes.xsd"/>
            <xsd:element name="RatePersonRequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="Person" type="xsd:int"/>
                        <xsd:element name="Rating" type="xsd:double"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="RatePersonRequestMessage">
        <wsdl:part name="inputParameters"
                   element="elements:RatePersonRequest"/>
    </wsdl:message>

    <wsdl:portType name="FeedbackPortType">
        <wsdl:operation name="RatePerson">
            <wsdl:input message="ps:RatePersonRequestMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="FeedbackSOAPBinding"
                  type="ps:FeedbackPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RatePerson">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>

</wsdl:definitions>
