com.uber.bpel/bpelContent/uberArtifacts.wsdl

<?xml version="1.0"?>
<definitions name="uber"
             targetNamespace="http://www.uber.com/bpel/uber"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="http://www.uber.com/bpel/uber"
             xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:types="http://uber.com/DataTypes"
             xmlns:feedback="http://uber.com/FeedbackService"
             xmlns:invoicing="http://uber.com/InvoicingService"
             xmlns:navigation="http://uber.com/NavigationService"
             xmlns:notifier="http://uber.com/NotifierService"
             xmlns:notifierCB="http://uber.com/NotifierCallbackService"
             xmlns:pricing="http://uber.com/PricingService"
             xmlns:elements="http://uber.com/Elements"
             xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
         TYPE DEFINITION - List of services participating in this BPEL process
         The default output of the BPEL designer uses strings as input and
         output to the BPEL Process. But you can define or import any XML
         Schema type and us them as part of the message types.
         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <import namespace="http://uber.com/FeedbackService" location="Feedback.wsdl"/>
    <import namespace="http://uber.com/InvoicingService" location="Invoicing.wsdl"/>
    <import namespace="http://uber.com/NavigationService" location="Navigation.wsdl"/>
    <import namespace="http://uber.com/NotifierService" location="Notifier.wsdl"/>
    <import namespace="http://uber.com/NotifierCallbackService" location="NotifierCallback.wsdl"/>
    <import namespace="http://uber.com/PricingService" location="Pricing.wsdl"/>

    <types>
        <xsd:schema
                targetNamespace="http://uber.com/Elements"
        >
            <xsd:import namespace="http://uber.com/DataTypes"
                        schemaLocation="DataTypes.xsd"/>
            <xsd:element name="requestRideRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="StartLocation" type="types:Location"/>
                        <xsd:element name="EndLocation" type="types:Location"/>
                        <xsd:element name="Time" type="xsd:dateTime"/>
                        <xsd:element name="UserId" type="xsd:int" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="requestRideResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="xsd:double"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="customerAnswer">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Answer" type="xsd:string" />
                        <xsd:element name="UserId" type="xsd:int" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="answerRideResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="rideCompleted">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="UserId" type="xsd:int" />
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            
            <xsd:element name="rideCompletedResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="Result" type="xsd:string" />
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
         MESSAGE TYPE DEFINITION - Definition of the message types used as
         part of the port type defintions
         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <message name="requestRideRequestMessage">
        <part name="payload" element="elements:requestRideRequest"/>
    </message>

    <message name="requestRideResponseMessage">
        <part name="payload" element="elements:requestRideResponse"/>
    </message>

    <message name="aswerToRideMessage">
        <part name="customerAnswer" element="elements:customerAnswer"/>
    </message>

    <message name="aswerToRideResponseMessage">
        <part name="info" element="elements:answerRideResponse"/>
    </message>
    
    <message name="rideCompletedMessage">
        <part name="payload" element="elements:rideCompleted"/>
    </message>

    <message name="rideCompletedResponseMessage">
        <part name="payload" element="elements:rideCompletedResponse"/>
    </message>
    


    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
         PORT TYPE DEFINITION - A port type groups a set of operations into
         a logical service unit.
         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- portType implemented by the uber BPEL process -->
    <portType name="requestRidePortType">
        <operation name="requestRide">
            <input message="tns:requestRideRequestMessage"/>
            <output message="tns:requestRideResponseMessage"/>
        </operation>
        <operation name="acceptRide">
            <input message="tns:aswerToRideMessage"/>
            <output message="tns:aswerToRideResponseMessage"/>
        </operation>
        <operation name="rideCompleted">
            <input message="tns:rideCompletedMessage"/>
            <output message="tns:rideCompletedResponseMessage"/>
        </operation>
    </portType>


    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
         PARTNER LINK TYPE DEFINITION
         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <plnk:partnerLinkType name="requestRideLink">
        <plnk:role name="uberProvider" portType="tns:requestRidePortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="navigationLink">
        <plnk:role name="navigator" portType="navigation:NavigationPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="pricingLink">
        <plnk:role name="assessor" portType="pricing:PricingPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="notifierLink">
        <plnk:role name="notifier" portType="notifier:NotifierPortType"/>
        <plnk:role name="uberAcceptor" portType="notifierCB:NotifierCallbackPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="feedbackLink">
        <plnk:role name="reviewer" portType="feedback:FeedbackPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="invoicingLink">
        <plnk:role name="payer" portType="invoicing:InvoicingPortType"/>
    </plnk:partnerLinkType>


    <vprop:property name="customerID" type="xsd:int"/>
    <vprop:propertyAlias propertyName="tns:customerID" messageType="tns:requestRideRequestMessage" part="payload">
        <vprop:query>UserId</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:customerID" messageType="tns:aswerToRideMessage" part="customerAnswer">
        <vprop:query>UserId</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:customerID" messageType="notifierCB:DriverFoundRequestMessage" part="parameters">
        <vprop:query>Customer/Id</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:customerID" messageType="tns:rideCompletedMessage" part="payload">
        <vprop:query>UserId</vprop:query>
    </vprop:propertyAlias>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
         BINDING DEFINITION - Defines the message format and protocol details
         for a web service.
         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <binding name="requestRideBinding" type="tns:requestRidePortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="requestRide">
            <soap:operation
                    soapAction="http://www.uber.com/bpel/uber/initiate"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
            	<soap:body use="literal"/>
            </output>
        </operation>
        <operation name="acceptRide">
            <soap:operation
                    soapAction="http://www.uber.com/bpel/uber/acceptRide"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
            	<soap:body use="literal"/>
            </output>
        </operation>
        <operation name="rideCompleted">
            <soap:operation
                    soapAction="http://www.uber.com/bpel/uber/rideCompleted"/>
                    <input>
                    	<soap:body use="literal"/>
                    </input>
                    <output>
                    	<soap:body use="literal"/>
                    </output>
        </operation>
    </binding>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
         SERVICE DEFINITION - A service groups a set of ports into
         a service unit.
         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <service name="uberService">
        <port name="requestRidePort" binding="tns:requestRideBinding">
            <soap:address location="http://localhost:8080/ode/processes/com.uber.bpel"/>
        </port>
    </service>

<!--     <service name="uberServiceCallback">
        <port name="uberPortCallbackPort" binding="tns:uberCallbackBinding">
            <soap:address location="http://localhost:8080/uberCallback"/>
        </port>
    </service> -->
</definitions>