com.uber.bpel/bpelContent/uberArtifacts.wsdl

<?xml version="1.0"?>
<definitions name="uber"
             targetNamespace="http://www.uber.com/bpel/uber"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="http://www.uber.com/bpel/uber"
             xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:types="http://uber.com/DataTypes"
             xmlns:feedback="http://uber.com/FeedbackService"
             xmlns:invoicing="http://uber.com/InvoicingService"
             xmlns:navigation="http://uber.com/NavigationService"
             xmlns:notifier="http://uber.com/NotifierService"
             xmlns:pricing="http://uber.com/PricingService"
             xmlns:elements="http://uber.com/Elements"
>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
         TYPE DEFINITION - List of services participating in this BPEL process
         The default output of the BPEL designer uses strings as input and
         output to the BPEL Process. But you can define or import any XML
         Schema type and us them as part of the message types.
         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <import namespace="http://uber.com/FeedbackService" location="Feedback.wsdl"/>
    <import namespace="http://uber.com/InvoicingService" location="Invoicing.wsdl"/>
    <import namespace="http://uber.com/NavigationService" location="Navigation.wsdl"/>
    <import namespace="http://uber.com/NotifierService" location="Notifier.wsdl"/>
    <import namespace="http://uber.com/PricingService" location="Pricing.wsdl"/>

    <types>
        <xsd:schema
                targetNamespace="http://uber.com/Elements"
        >
            <xsd:import namespace="http://uber.com/DataTypes"
                        schemaLocation="DataTypes.xsd"/>
            <xsd:element name="uberRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="StartLocation" type="types:Location"/>
                        <xsd:element name="EndLocation" type="types:Location"/>
                        <xsd:element name="Time" type="xsd:dateTime"/>
                        <xsd:element name="UserId" type="xsd:int" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="uberResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="xsd:double"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </types>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
         MESSAGE TYPE DEFINITION - Definition of the message types used as
         part of the port type defintions
         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <message name="uberRequestMessage">
        <part name="test" element="elements:uberRequest"/>
    </message>

    <message name="uberResponseMessage">
        <part name="payload" element="elements:uberResponse"/>
    </message>


    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
         PORT TYPE DEFINITION - A port type groups a set of operations into
         a logical service unit.
         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- portType implemented by the uber BPEL process -->
    <portType name="uber">
        <operation name="initiate">
            <input message="tns:uberRequestMessage"/>
            <output message="tns:uberResponseMessage"/>
        </operation>
    </portType>

    <!-- portType implemented by the requester of uber BPEL process 
         for asynchronous callback purposes
         --><!-- 
    <portType name="uberCallback">
        <operation name="onResult">
            <input message="tns:uberResponseMessage"/>
        </operation>
    </portType> -->


    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
         PARTNER LINK TYPE DEFINITION
             the uber partnerLinkType binds the provider and
             requester portType into an asynchronous conversation.
         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <plnk:partnerLinkType name="uber">
        <plnk:role name="uberProvider" portType="tns:uber"/>
<!--         <plnk:role name="uberRequester" portType="tns:uberCallback"/> -->
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="navigationLink">
        <plnk:role name="navigator" portType="navigation:NavigationPortType"/>
    </plnk:partnerLinkType>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
         BINDING DEFINITION - Defines the message format and protocol details
         for a web service.
         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <binding name="uberBinding" type="tns:uber">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="initiate">
            <soap:operation
                    soapAction="http://www.uber.com/bpel/uber/initiate"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
            	<soap:body use="literal"/>
            </output>
        </operation>
    </binding>
<!-- 
    <binding name="uberCallbackBinding" type="tns:uberCallback">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="onResult">
            <soap:operation
                    soapAction="http://www.uber.com/bpel/uber/onResult"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding> -->

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
         SERVICE DEFINITION - A service groups a set of ports into
         a service unit.
         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <service name="uberService">
        <port name="uberPort" binding="tns:uberBinding">
            <soap:address location="http://localhost:8080/ode/processes/com.uber.bpel"/>
        </port>
    </service>

<!--     <service name="uberServiceCallback">
        <port name="uberPortCallbackPort" binding="tns:uberCallbackBinding">
            <soap:address location="http://localhost:8080/uberCallback"/>
        </port>
    </service> -->
</definitions>